html
  include head.pug

  body
    #container
      #topPanel
      #content
        #leftPanels
          textarea#textarea_html
          textarea#textarea_css
          textarea#textarea_js
          textarea#textarea_json

        #rightPanels
          iframe#preview(src="")
          textarea#iconPanel

          #browserPanel(class="hide")
            #toolbar
              input#browser_url(type="text",size=64)
              button#browser_go(onclick="Browser.go()") GO
            iframe#browser_window(src="")

          #options_overlay(class="hide")
            form#options_form
