html
  head
    title login
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/login.css")
    script(src="/js/jquery-3.4.0.min.js")
    script(src="/js/login.js")

  body
    #loginContent
      h1 Password?
      form#loginForm(onsubmit="return!1")
        p#error
        input(type="text", name="user", placeholder="username")
        input(type="password", name="pass", placeholder="password")
        button(onclick="login()") LOGIN
