<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <script type="text/javascript" src="js/login.js"></script>
  </head>
  <body>
    <div id="loginContent">
      <h1>Password?</h1>
      <form id="loginForm" onsubmit="return!1;">
        <p id="error"></p>
        <input type="text" name="user" placeholder="username" />
        <input type="password" name="pass" placeholder="password" />
        <button onclick="login();">LOGIN</button>
      </form>
    </div>
  </body>
</html>